<% @page_title = "Payments" %>
<div class="container">
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Listing payments</div>
	<div class="panel-body">
		<p>
			<table class="table table-condensed table-striped">

				<thead>
					<tr>
						<th> amount </th>
						<th> ProductName </th>
						<th> CustomerName </th>
						<th> Address</th>
						<th> City </th>
						<th> State </th>
						<th> Country </th>
						<th> Phone</th>
						<th> Email</th>
						<th> CardNumber </th>
					</tr>
				</thead>
				<% @payments.each do |p| %>
				<tr>
					<td><%= link_to  p.amount, payment_path(p)%></td>
					<td><%= p.product_name%></td>
					<td><%= p.customer_name%></td>
					<td><%= p.address%></td>
					<td><%= p.city%></td>
					<td><%= p.state%></td>
					<td><%= p.country%></td>
					<td><%= p.phone%></td>
					<td><%= p.email%> </td>
					<td><%= p.card_number%> </td>
				</tr>
				<%end%>
			</table> 
		</p>
	<div class="panel-footer"><%=link_to "New", new_payment_path %></div>
	</div>
</div>

