<% @page_title = "Payments" %>
<div class="container">
	<div class="panel panel-info">
		<!-- panel heading -->
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left" style="padding-top: 7.5px;">
        <strong><%= pluralize Payment.count, "Payment" %></strong>
      </h4>

      <div class="btn-group pull-right">
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> New Payment".html_safe, new_payment_path,  class: 'btn btn-sm btn-primary pull-right' %>
      </div>     
		</div>

		<!-- panel body -->
		<div class="panel-body">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th> amount </th>
						<th> ProductName </th>
						<th> CustomerName </th>
						<th> Address</th>
						<th> City </th>
						<th> State </th>
						<th> Country </th>
						<th> Phone</th>
						<th> Email</th>
						<th> CardNumber </th>
					</tr>
				</thead>
				<% @payments.each do |p| %>
				<tr>
					<td><%= link_to  p.amount, payment_path(p)%></td>
					<td><%= p.product_name%></td>
					<td><%= p.customer_name%></td>
					<td><%= p.address%></td>
					<td><%= p.city%></td>
					<td><%= p.state%></td>
					<td><%= p.country%></td>
					<td><%= p.phone%></td>
					<td><%= p.email%> </td>
					<td><%= p.card_number%> </td>
				</tr>
				<%end%>
			</table>
		</div>
		<div class="panel-footer">
			<%= paginate @payments, theme: 'twitter-bootstrap-3' %>
		</div>
	</div>
</div>

