<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @payment.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @payment.country %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
