<!DOCTYPE html>
<html>
  <head>
    <meta charste='utf-8'>
     <title><%= @page_title %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top logo"></nav>
    <%= yield %>
    <%= gflash %>
  </body>
</html>
