<!DOCTYPE html>
<html>
  <head>
    <meta charste='utf-8'>
     <title><%= "Payment Signer" || @page_title %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top logo">
      <div class="container-fluid">
        <!-- brand -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- /brand -->

        <!-- right elements -->
          <div class="collapse navbar-collapse" id="registration-navbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="btn-sm">
                <% if current_user %>
                  <%= link_to "Hello Admin, Logout?", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Login", new_user_session_path %>
                <% end %>
              </li>
            </ul>
          </div>
          <!-- /right elements -->
      </div>
    </nav>

    <div class="row">
      <%= yield %>
    </div>
    
    <%= gflash %>
  </body>
</html>
